.Munityhub {
  min-height: 500px;
  .topTitle {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .title {
      font-family: RNS Sanz;
      font-size: 36px;
      font-weight: 900;
      line-height: 43px;
      letter-spacing: 0em;
      text-align: left;
      padding-left: 10px;
    }
    .title1 {
      color: rgba(255, 255, 255, 1);
    }
    .title2 {
      color: rgba(95, 61, 255, 1);
    }

    #line1 {
      width: 400px;
      height: 2px;
      position: relative;
      top: 25px;
      background-image: linear-gradient(
        to right,
        rgba(192, 61, 255, 0.04),
        rgba(95, 61, 255, 1),
        rgba(192, 61, 255, 0.04)
      );
    }
    #line2 {
      width: 1000px;
      height: 2px;
      position: relative;
      top: 25px;
      background-image: linear-gradient(
        to right,
        rgba(192, 61, 255, 0.04),
        rgba(95, 61, 255, 1),
        rgba(192, 61, 255, 0.04)
      );
    }
  }
  .title3 {
    position: relative;
    display: flex;
    justify-content: space-between;
    left: 10px;
    top: 25px;
    color: rgba(255, 255, 255, 0.7);
    max-width: 473px;
    font-family: RNS Sanz;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  .imgTitle {
    position: relative;
    top: 80px;
    display: flex;
    justify-content: center;
  }
  .borderTitle {
    width: 358px;
    height: 460px;
    align-items: center;
    border-radius: 15px;
    z-index: 30;
    /* ////// */
  }

  .leftTitle {
    background: url("../images/Munityhub1.png");
    background-repeat: no-repeat;
    border: 1px solid transparent;

    border-radius: 15px;
    border-image-slice: 1;
  }

  .border-gradient1 {
    border: double 4px transparent;
    border-radius: 20px;
    display: inline-block;
    background-image: linear-gradient(#241f26, #241f26),
      linear-gradient(
        25deg,
        #241f26,
        #241f26,
        #241f26,
        #241f26,
        #241f26,
        #4479ff,
        #4479ff,
        #4479ff,
        #c03dff,
        #c03dff
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .centerTitle {
    position: relative;

    background: url("../images/Munityhub2.png");
    background-repeat: no-repeat;
    border-bottom: 4px solid transparent;
    border-radius: 15px;
    border-image-slice: 1;
  }
  .border-gradient2 {
    border: double 4px transparent;
    border-radius: 20px;
    display: inline-block;
    background-image: linear-gradient(#241f26, #241f26),
      linear-gradient(
        535deg,
        #241f26,
        #241f26,
        #4479ff,
        #4479ff,
        #4479ff,
        #c03dff,
        #c03dff
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .rightTitle {
    background: url("../images/Munityhub3.png");
    background-repeat: no-repeat;
    border: 1px solid transparent;

    border-radius: 15px;
    border-image-slice: 1;
  }
  .border-gradient3 {
    border: double 4px transparent;
    border-radius: 20px;
    display: inline-block;
    background-image: linear-gradient(#241f26, #241f26),
      linear-gradient(
        340deg,
        #241f26,
        #241f26,
        #241f26,
        #241f26,
        #241f26,
        #4479ff,
        #4479ff,
        #4479ff,
        #c03dff,
        #c03dff
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .MunityImage {
    border-bottom: none;
    border-radius: 15px;
    width: 358px;
    height: 277px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
  }

  .middleIconText {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  .middleIconC {
    padding: 17.3px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .middleIconC span {
    font-family: RNS Sanz;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    top: 2px;
    color: white;
  }
  .middleText {
    padding-left: 12px;
    text-align: center;
    font-family: RNS Sanz;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }
  .bottomIcon {
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: RNS Sanz;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    background: #1a1a1a;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    border: 1px solid rgba(61, 208, 255, 1);
    border-radius: 8px;
    width: 90%;
    padding: 5px 5px;

    .perIcon {
      width: 50px;
      gap: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .perIcon:hover {
      cursor: pointer;
    }
  }
  .bottomBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
      to right,
      rgba(192, 61, 255, 1),
      rgba(95, 61, 255, 0.7)
    );
    width: 312px;
    height: 51px;
    font-family: RNS Sanz;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    border-radius: 10px;
  }
  .bottomBtn:hover {
    background-image: linear-gradient(
      to right,
      rgba(95, 61, 255, 0.7),
      rgba(192, 61, 255, 1)
    );
  }
  .buttonWrap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .buttonWrap:hover {
    cursor: pointer;
  }
  .bi-chevron-right {
    font-size: 20px;
    color: white;
    font-weight: 300;
    position: relative;
    top: 2px;
    left: 10px;
  }
}
@media screen and (max-width: 1280px) {
  .Munityhub {
    .title {
      font-size: 30px !important;
    }
    .title3 {
      top: 10px !important;
      max-width: 433px;
      font-size: 12px;
    }
    .imgTitle {
      position: relative;
      top: 40px;
      display: flex;
      justify-content: center;
    }
    .borderTitle {
      width: 258px;
      height: 245px;
      align-items: center;
      border-radius: 15px;
      z-index: 30;
      background-size: 100% 100%;
      /* ////// */
    }
    /* .leftTitle {
      width: 258px;
      height: 245px;
    } */
    .MunityImage {
      border-bottom: none;
      border-radius: 15px;
      width: 258px;
      height: 245px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: relative;
    }
    .bottomIcon {
      position: relative;
      top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      font-family: RNS Sanz;
      font-size: 10px;
      font-weight: 500;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: center;
      color: white;

      .perIcon {
        width: 30px !important;
        gap: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .perIcon:hover {
        cursor: pointer;
      }
    }
  }
}
