.IContent5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .topTitle {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
    .text {
      display: flex;
      gap: 10px;
    }
    .title {
      font-family: RNS Sanz;
      font-size: 16px;
      font-weight: 900;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: center;
    }
    .title1 {
      color: rgba(255, 255, 255, 1);
    }
    .title2 {
      color: rgba(95, 61, 255, 1);
    }

    #line {
      width: 130px;
      height: 1px;
      position: relative;
      top: 10px;
      background-image: linear-gradient(
        to right,
        rgba(192, 61, 255, 0.04),
        rgba(95, 61, 255, 1),
        rgba(192, 61, 255, 0.04)
      );
    }
  }

  .title3 {
    position: relative;
    display: flex;
    justify-content: space-between;
    left: 20px;
    top: 30px;
    color: rgba(255, 255, 255, 0.4);
    max-width: 700px;
    font-family: RNS Sanz;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    font-family: RNS Sanz;
  }
  .bottomImg {
    gap: 10px;
    position: relative;
    top: 15px;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
  }
  .rightText {
    width: 312px;
    display: flex;
    flex-direction: column;
    line-height: 8px;
    gap: 10px;

    .type1 {
      font-family: RNS Sanz;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(95, 61, 255, 1);
    }
    .type2 {
      font-family: RNS Sanz;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(255, 255, 255, 1);
    }

    .type3 {
      font-family: RNS Sanz;
      font-size: 10px;
      font-weight: 500;
      line-height: 12px;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(255, 255, 255, 0.7);
    }
    .type4 {
      color: white;
    }

    .bottomBtn :hover {
      color: white !important;
      cursor: pointer !important;
    }

    .bottom_:hover {
      cursor: pointer;
      color: white;
    }
    .bottomBtn {
      font-family: RNS Sanz;
      font-size: 12px;
      font-weight: 600;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;

      width: 312px;
      height: 47px;
      left: 472px;
      border-radius: 8px;
      angle: -180 deg;
      background-color: #1f1c30;
      display: flex;
      align-items: center;
      justify-content: center;

      border: 1px solid rgba(95, 61, 255, 1);
      border-radius: 10px;
      color: #bfbfc8;
      text-align: center;
    }

    .bottomBtn span {
      position: relative;
      left: 10px;
      top: 2px;
    }
    .bottomBtn:hover {
      color: white;
    }
  }
  .daoImg {
    width: 312px;
    height: 198px;
    border: 1px solid #5f3dff;
    display: flex;
    border-radius: 15px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
